@model MobileInfo.Models.Mobile


<div class="order_list_container" style="background-color:rgb(242,244,248)">
    <br />
    <h3 style="padding-left:40%">Mobile Details</h3>
    <hr />
    <dl class="dl-horizontal" style="padding-left:28%">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dimensions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dimensions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2G_Band)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2G_Band)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3G_Band)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3G_Band)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C4G_Band)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C4G_Band)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chipset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chipset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Technology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Built_in_Memory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Built_in_Memory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_Camera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_Camera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camera_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camera_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Features)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Features)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Front_Camera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Front_Camera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WLAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WLAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bluetooth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bluetooth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sensors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sensors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Audio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Audio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Browser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Browser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Messaging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messaging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Games)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Games)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Torch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Torch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Battery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Battery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Announced_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Announced_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Picture)" height="250" width="150" />
        </dd>

    </dl>
    <p style="font-size:medium;padding-left:44%">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <br />
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />